# explicit includes
include LICENSE.txt
include README.rst

# explicit excludes
#exclude .bumpversion.cfg

graft src

## Patterns to exclude from any directory
#global-exclude __pycache__
#global-exclude *.py[cod]
#global-exclude .git
#global-exclude .ipynb_checkpoints

